<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reciply.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37082EBA1DF7B96C0085D5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37082ED01DF7B96D0085D5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37082EDB1DF7B96D0085D5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
